.app{
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  border: 2px solid #8f8a8a;
  border-radius: 20px;
  margin-top: 20px;
}

  .details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
    border: 2px solid #8f8a8a;
    border-radius: 20px;
  }
  .big-img img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
  }
  
  .box{
    min-width: 650px;
  }

  .box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .box .row span{
    color: crimson;
  }
  .box .colors button{
    height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    outline: none;
    margin-right: 5px;

    /* background-color: #333; */
  }
  .box p{
    line-height: 1.5;
    margin: 15px 0;
  }

  .btn-type {
    width: 80px;
    font-weight: bold;
  }
 
  .btn-ability {
    width: 110px;
    font-weight: bold;
  }
  
  .btn-move {
    width: 120px;
    font-weight: bold;
    margin: 5px;

  }

  .move {
    /* background-color: lightblue; */
    height: 200px;
    width: 750px;
    overflow-y: scroll;
  }

  .thumb{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
  }
  .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
  }
  .thumb img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
  }
  .box .cart{
    background: #333;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 15px;
  }
  
  .container-img {
    width: 350px;
    height: 400px;
    margin-bottom: 35px;
    justify-content: center;
  }

  .btn-cart{
    margin-left: 75px;
    position: relative;
    width: 200px;
    height: 60px;
	  margin-bottom:20px;
    padding: 0 10px;
    text-align: left;
    cursor: pointer;
    background: rgb(253, 90, 90);
    border: none;
    border-radius: 30px;
  }

  .btn-cart-img{  
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border-radius: 5px;
  }

  .btn-cart-span{
    display:inline-block;
    width: 120px;
    vertical-align:middle;
    padding-left: 15px;
  }

  .card {
    width: 20px;
    height: 20px;
  }

  .grid-container {
    white-space: nowrap;
  }

  .stat-title {
    display: inline-block;
    min-width: 140px;
  }

  .stats-container {
    display: inline-block;
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    transform: translate(0%, 25%);

  }

  .stat {
    height: 20px;
    text-align: right;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    color: white;
    border-radius: 20px;
    background-color: #f44336
  }
  
  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }

  @media only screen and (max-width: 768px) {
    .app{
      max-width: 700px;
      margin-top: 10px;
      margin-bottom: 110px;
      border: none;
      border-radius: none;
    }
  
    .move {
      width: 350px;
      /* background-color: aqua; */
    }
  
    .box{
      min-width: 350px; 
    }
  }
  
  @media only screen and (max-width: 768px) {
    .btn-cart{
      /* background: green; */
    }

    .stats-container {
      width: 60%;
  
    }
  }